VAULT_ADDR=http://localhost:8200
VAULT_TOKEN=root

TF_VAR_kubernetes_host=https://10.0.2.15:8443
TF_VAR_kubernetes_ca_cert=minikube.crt
TF_VAR_kubernetes_token_reviewer=eyJhbGciOiJSUzI1NiIsImtpZCI6InZLUE01RHI4ZkN0azNUeTNzRXdhOGJ4R0lFVTJGd1FJQ0RCWEQwa3JxRlEifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6InZhdWx0LWFnZW50LWluamVjdG9yLXRva2VuIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiYWI2NDI1MGUtMTBlNS00ZDllLTg2NDAtZTA2Njc2YzA5MmJmIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50OmRlZmF1bHQ6dmF1bHQifQ.lJd0dv829zLSI2_mAiu21VsppLzcx7-bUFCBCuK-HcLCtE_fB_2bAl4YR7B-KpxRC46AdOmc5LNiWAwvGbuAKnawrXi8brtD7cLE2T9qz2kW9d4Al_nzm4ePyqpJhlaI-yks8yTcBHhMylzmNB1r6ATwDfbJL9L4wJ6M3HITUqAy7EY8FvajzEkOBROBcGhrSjtlvmGDexHGYmx8VKJyii2nTWiCYGDUTTtzat1rBNATuM0fqUKYWBWNQHr3zdvJPxiKDbzp46iJFTmJBx37DqcEQKa1PKike5KaFjO5oTB2qjLa96ba-JznVeeYcJPpanFjWn6IYacmTEhxwmsHrA